*, *:before, *:after {
  box-sizing: border-box;
}

.exit {
  position: relative;
  height: 50px;
}

.exit:before, .exit:after {
  content: "SALIDA";
  font-size: 14px;
  line-height: 18px;
  padding: 0px 2px;
  font-family: "Arial Narrow", Arial, sans-serif;
  display: block;
  position: absolute;
  background: green;
  color: white;
  top: 50%;
  transform: translate(0, -50%);
}

.exit:before {
  left: 0;
}

.exit:after {
  right: 0;
}

.fuselage {
  border-right: 5px solid #d8d8d8;
  border-left: 5px solid #d8d8d8;
}

ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

.seats {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
}

.seat, .seatOcupado, .seatReservado{
  flex: 0 0 40px;
  padding: 5px;
  position: relative;
}

.seat input[type=checkbox] {
  position: absolute;
  opacity: 0;
}

.seatReservado input[type=checkbox] {
  position: absolute;
  opacity: 0;
}

.seatOcupado input[type=checkbox] {
  position: absolute;
  opacity: 0;
}

.seat input[type=checkbox]:checked + label {
  background: #bada55;
  animation-duration: 300ms;
  animation-fill-mode: both;
}

.seat label {
  display: block;
  position: relative;
  width: 100%;
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  line-height: 1.5rem;
  padding: 4px 0;
  background: #ffffff;
  border-radius: 5px;
  animation-duration: 300ms;
  animation-fill-mode: both;
}

.seatOcupado label {
  display: block;
  position: relative;
  width: 100%;
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  line-height: 1.5rem;
  padding: 4px 0;
  background: #ef2929;
  border-radius: 5px;
  animation-duration: 300ms;
  animation-fill-mode: both;
}

.seatReservado label {
  display: block;
  position: relative;
  width: 100%;
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  line-height: 1.5rem;
  padding: 4px 0;
  background: gray;
  border-radius: 5px;
  animation-duration: 300ms;
  animation-fill-mode: both;
}

.seat label:hover {
  cursor: pointer;
  box-shadow: 0 0 0px 2px #5C6AFF;
}